
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/* Navigation */
#navigation{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#logoContainer{
  height: 10vh;
  width: 15vh;
  margin-right: auto;
  margin-left: 1vw;
  margin-bottom: auto;
  margin-top: .5vh;
}
#logoContainer > img {
  max-height: 100%;
  max-width: 100%;
}
#navButtons{
  margin-bottom: auto;
}
#navButtons > li{
  list-style: none;
  cursor: pointer;
  display: inline-block;
  padding: 0 1vw;
}
#navButtons > li:hover{
  color: #43c0eb;
}
.fa-bars{
  display: none;
  margin-right: 3vw;
  color: lightgray;
}

/* Navigation Responsive Adjustments */
#navButtons.responsive{
  display: block;

}
#navButtons.responsive > li{
  display: block;
  font-size: 2rem;
  border: 2px solid gray;
}
#navButtons.responsive + #bars{
  display: none;
}

/* Homepage */
#homepage-banner{
  background-image: url("/assets/homepage-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  max-width: 100%;
  margin: none;
}

/* Homepage 3 Images  */
#threeImages{
  display: flex;
  justify-content: center;
}
#homepage-Irvine-Img {
  background-image: url("/assets/homepage-irvine-logo.png");
}
#homepage-beers-Img {
  background-image: url("/assets/homepage-beers.jpg");
}
#homepage-store-Img {
  background-image: url("/assets/homepage-store-background.jpg");
}
#homepage-Irvine-Img,
#homepage-beers-Img,
#homepage-store-Img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35vh;
  width: 29%;
  margin: 25px;
  border-radius: 5px;
}
.layOver{
  background-color: rgba(84, 83, 83, .8);
  height: 100%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.threeImagesText{
  color: white;
  font-weight: bold;
  font-size: 3rem;
  margin: auto;
}

/* Homepage About Us  */
#homePageAboutUs{
  display: flex;
  justify-content: center;
  padding: 5vh;
  padding-bottom: 0;
}
#homePageAboutUs > h1 {
  font-weight: bold;
  color: #566471;
  margin: 0 1%;
  margin-top: 1%;
}
#aboutLine {
  background-color: #566471;
  width: 9vw;
  height: .5vh;
  margin: auto;
  margin-top: 0;
}
#aboutUs > p{
  width: 60%;
  margin: auto;
  font-size: 1.4rem;
  line-height: 2;
  margin-top: 2vh;
  color: #566471;
  text-align: center;
}
#aboutButton{
  display: flex;
  justify-content: center;
}
#aboutButton > button {
  background-color: #43c0eb;
  border: none;
  padding: 1.2vh 1.5vw;
  font-size: 1.5rem;
  margin: 1.5%
}
#aboutButton > button:hover {
  border: #43c0eb solid 1px;
  background-color: whitesmoke;
  cursor: pointer;
}

/* Homepage Beer Club  */
#homePageBeerClub{
  background-image: url("/assets/homepage-beerClub.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  max-width: 100%;
}
#beerClubHeader{
  display: flex;
  justify-content: center;

}
.beerClubLine{
  background-color: #43c0eb;
  width: 9vw;
  height: .5vh;
  margin-top: 0;
}
#beerClubHeader > h1 {
  color: #43c0eb;
}



/* Media Queries */
/* ipad landscape */
@media only screen and  (min-width: 769px) and (max-width: 1024px) {
  #navButtons{
    display: none;
  }
  .fa-bars{
  display: block;
  }
}

/* ipad portait */
@media only screen and  (min-width: 737px) and (max-width: 768px) {
  #navButtons{
      display: none;
  }
}
  /* iphone 6/7/8 landscape */
@media only screen and  (min-width: 601px) and (max-width: 736px){
  #navButtons{
    display: none;
  }
}
  /* iphone 6/7/8 portait */
@media only screen and  (min-width: 0px) and (max-width: 600px) {
  #navButtons{
      display: none;
  }
}
